# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Node / React
node_modules/
dist/
.cache/
*.local

# Expo / React Native
.expo/
android/
ios/

# Environment files
.env
*.env

# OS
.DS_Store
Thumbs.db
